.top-search-card {
    width: 100%;
    border: 2px solid #d1d5db; /* border-neutral-300 */
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.route-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.route-labels {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #9ca3af; /* text-neutral-400 */
}

.route-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.route-text {
    font-size: 1.25rem;
    font-weight: 600;
    color: #4b5563;
}

.time-duration {
    background-color: #f9fafb;
    border: 1px dashed #9ca3af;
    padding: 4px 12px;
    border-radius: 9999px;
    font-size: 0.875rem;
    color: #6b7280;
    text-align: center;
}

.price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    font-size: 1.25rem;
    font-weight: 600;
    color: #374151;
}

.reserve-button {
    background-color: #ff0303;
    color: white;
    padding: 6px 20px;
    font-size: 1rem;
    border: 2px solid #ff0303;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.reserve-button:hover {
    background-color: transparent;
    color: #ff0303;
}
